{% load static %}
<div class="container content-space-2 content-space-lg-3">
      <!-- Title -->
      <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
        <h2>محصولات مشابه</h2>
      </div>
      <!-- End Title -->
      <div class="row row-cols-sm-2 row-cols-md-3 mb-10">
        {% for similar_product in similar_products %}
          <div class="col mb-4">
            <div class="card card-bordered shadow-none text-center h-100">
              <div class="card-pinned">
                <img class="card-img-top" src="{{ similar_product.image.url }}" alt="Image Description">
                <div class="card-pinned-top-end">
                  <button type="button" class="btn btn-outline-secondary btn-xs btn-icon rounded-circle" title="افزودن به علایق">
                    <i class="bi-heart"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div class="mb-2">
                  {% for category in similar_product.proudct_category.all %}
                    <a class="link-sm link-secondary" href="#">{{ category.title }}</a>{% if not forloop.last %}, {% endif %}
                  {% endfor %}
                </div>
                <h4 class="card-title">
                  <a class="text-dark" href="{% url 'shop:product_detail' slug=similar_product.slug %}">{{ similar_product.title }}</a>
                </h4>
                <p class="card-text text-dark">{{ similar_product.get_discounted_price }} تومان</p>
              </div>
              <div class="card-footer pt-0">
                <a class="d-inline-flex align-items-center mb-3" href="#">
                  <div class="d-flex gap-1 ms-2">
                    {% for i in "1234" %}
                      <img src="{% static 'svg/illustrations/star.svg' %}" alt="Review rating" width="16">
                    {% endfor %}
                    <img src="{% static 'svg/illustrations/star-muted.svg' %}" alt="Review rating" width="16">
                  </div>
                  <span class="small">40</span>
                </a>
                <button type="button" class="btn btn-outline-primary btn-sm btn-transition rounded-pill">افزودن به سبد خرید</button>
              </div>
            </div>
          </div>
        {% empty %}
          <div class="col-12">
            <p class="text-center">موردی یافت نشد.</p>
          </div>
        {% endfor %}
      </div>
     

      
        <!-- End Col -->
      </div>
      <!-- End Row -->

      <div class="text-center">
        <a class="btn btn-outline-primary btn-transition rounded-pill" href="{% url 'shop:product-grid' %}">مشاهده تمامی محصولات</a>
      </div>
    </div>