{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card p-4">
        <h3 class="text-center mb-4">رمز عبور جدید خود را وارد کنید</h3>
        <form method="post" novalidate>
          {% csrf_token %}
          {{ form.new_password1.label_tag }}
          {{ form.new_password1 }}
          {{ form.new_password2.label_tag }}
          {{ form.new_password2 }}
          <div class="d-grid mt-3">
            <button type="submit" class="btn btn-success">تغییر رمز</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
