{% extends 'dashboard/admin/base.html' %}
{% load static %}
{% block header %}
    <!-- Breadcrumb -->
    <div class="navbar-dark bg-dark" style="
          background-image: url({% static 'svg/components/wave-pattern-light.svg' %})">
      <div class="container content-space-1 content-space-b-lg-3">
        <div class="row align-items-center">
          <div class="col">
            <div class="d-none d-lg-block">
              <h1 class="h2 text-white">داشبورد</h1>
            </div>

            <!-- Breadcrumb -->
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb breadcrumb-light mb-0">
                <li class="breadcrumb-item">حساب</li>
                <li class="breadcrumb-item">داشبورد ادمین</li>
                <li class="breadcrumb-item active" aria-current="page">
                  حذف محصولات
                </li>
              </ol>
            </nav>
            <!-- End Breadcrumb -->
          </div>
          <!-- End Col -->

          <div class="col-auto">
            <!-- Responsive Toggle Button -->
            <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
              data-bs-target="#sidebarNav" aria-controls="sidebarNav" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-default">
                <i class="bi-list"></i>
              </span>
              <span class="navbar-toggler-toggled">
                <i class="bi-x"></i>
              </span>
            </button>
            <!-- End Responsive Toggle Button -->
          </div>
          <!-- End Col -->
        </div>
        <!-- End Row -->
      </div>
    </div>
    <!-- End Breadcrumb -->
{% endblock %}
{% block content %}
  <div class="col-lg-9">
          <!-- Card -->
          <div class="card">
            <!-- Header -->
            <div class="card-header border-bottom">
              <h5 class="card-header-title">حذف محصول</h5>
            </div>
            <!-- End Header -->

            <!-- Body -->
            <div class="card-body">
            <form action="." method="post">
            {% csrf_token %}
            <p>آیا از حذف محصول اطمینان دارید؟</p>
            {{object.title}}
            
          <div class="card-footer">
            <div class=" d-flex pt-5 justify-content-end">
              <button class="btn btn-danger ms-3" type="submit">تایید حذف</button>
              <a class="btn btn-secondary ms-3" href="{% url 'dashboard:admin:product-edit' pk=object.pk %}">بازگشت</a>
            </div>
        </form>
     </div>
     </div>


{% endblock %}